<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit/<%=body._id%>" method="POST">
        <input type="text" name="title" placeholder="Título" value="<%=body.title%>">
        <input type="text" name="description" placeholder="Descrição" value="<%=body.description%>">
        <input type="text" name="url" placeholder="URL" value="<%=body.url%>">
        <button>Edit</button>

        <%if(error){%>
            <p><%=error.message%></p>
        <%}%>

    </form>

</body>
</html>